body {
  background: #050510;
  color: white;
  font-family: Arial, sans-serif;
  text-align: center;
  padding: 40px;
}

.container {
  max-width: 450px;
  margin: auto;
  background: #0d0d1a;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 0 20px #7b2cff55;
}

input {
  width: 90%;
  padding: 14px;
  border-radius: 8px;
  border: none;
  margin-top: 10px;
  font-size: 16px;
}

button {
  margin-top: 20px;
  padding: 14px 25px;
  background: #7b2cff;
  border: none;
  border-radius: 8px;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: 0.2s;
}

button:hover {
  background: #9d5cff;
}

#resultBox {
  margin-top: 25px;
  font-size: 22px;
  color: #00ff99;
  word-break: break-word;
}

.copyBtn {
  margin-top: 10px;
  padding: 10px 20px;
  background: #00ff99;
  color: #000;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  }
